.i1{
    width:2%;
}

@media only screen and (max-width: 600px) {
    .i1{
        width:6%;
    }
   
  }
  button{
    margin-right: 5px;
    width:19%;
    height: 50px;
    border-radius: 0%;
    border:0px;
    background-color: rgb(201, 199, 199);
    color:white;
   
}
button:hover{
    background-color:rgba(6, 155, 192, 0.842);
    color: aliceblue;
   
}
.clicked{
    background-color:rgba(6, 155, 192, 0.842);
    color: aliceblue; 
}
@media only screen and (max-width: 550px) {
    button{
        width:29%;
    }
 
  }
  .c{
    
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: solid 2px rgba(6, 155, 192, 0.842);
}